
@model List<BasketVM>

<div class="cart-total">
    <span class="text-number">
        @Model.Count
    </span>
    <span class="text-item">
        Shopping Cart
    </span>
    <span class="price">
        @{
            double total = 0;

        }

        £@total.ToString("F2")
        <i class="fas fa-chevron-down"></i>
    </span>
</div>
